body {
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 19px;
  color: #464646;
  background-color: #fff;
}

.container {
  width: 100%;
  max-width: 280px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.header, .footer {
  background-color: #3f3f3f;
  background-image: url("../img/pattern-background.jpg");
  background-repeat: repeat;
}
.header {
    border-bottom: 4px solid #242424;
    margin: 0;
    min-height: 100px;
}

.header__logo {
  position: relative;
  width: 130px;
  height: 36px;
  top: 35px;
}

.menu {
  margin: 0 auto;
  position: relative;
}

.menu__toggle {
  position: absolute;
  right: 0;
  z-index: 40;
  display: block;
  width: 32px;
  height: 35px;
  font-size: 0;
  cursor: pointer;
  border: none;
  background-color: inherit;
  outline: none;
}

.menu--closed .menu__toggle::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  right: 0;
  top: -5px;
  bottom: 0;
  background-image: url("../img/icon-open.png");
  background-repeat: no-repeat;
}
.menu--closed .menu__wrapper {
  display: none;
}
.menu--open {
  padding-top: 30px;
}

.menu--open .menu__wrapper {
  padding-top: 35px;
}
.menu--open .menu__container {
  display: none;
}
.menu--open .menu__toggle::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  font-size: 0;
  top: -35px;
  right: 0;
  background-image: url("../img/icon-close.png");
  background-repeat: no-repeat;
}

.menu--nojs .menu__wrapper {
  position: static;
}
.menu--nojs .menu__list {
  display: block;
}

.menu--nojs .menu__toggle {
  display: none;
}

.menu__list {
  list-style: none;
  font-size: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
}
.menu__link {
  font-size: 20px;
  line-height: normal;
  display: block;
  text-decoration: none;
  color: #e8e8e8;
  text-align: left;
  padding-right: 12px;
  padding-bottom: 32px;
}

.main__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer__img {
  display: block;
}

.footer__info {
  padding-left: 0;
}

.main {
  padding-bottom: 65px;
}

.main__item {
  margin-bottom: 40px;
}

.main__item-container {
  width: 227px;
}
.main__title {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  margin-top: 40px;
  padding-bottom: 15px;
  margin-bottom: 33px;
  position: relative;
}

.main__title::after {
  content: "";
  height: 6px;
  width: 100%;
  position: absolute;
  background-image: url("../img/border-line.png");
  bottom: 0px;
  left: 0px;
}
.main__link {
  color: inherit;
  position: relative;
  text-decoration: none;
}

.main__link::after {
  content: "|";
  position: absolute;
  top: 0px;
  }

.main__link-git {
  color: inherit;
  text-decoration: none;
  padding-left: 6px;
}

.main__link-cert {
  color: inherit;
}

.main__link-git:hover, .main__link-cert:hover {
  text-decoration: none;
  color: #000;
}

.main__features {
  margin: 0;
  margin-top: 10px;
  padding-left: 12px;
  font-size: 12px;
  line-height: normal;
  color: #969697;
  display: block;
  position: relative;
}

.main__features::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 15px;
  background-image: url("../img/tag icon.png");
  background-repeat: no-repeat;
  top: -2px;
  left: -4px;
}

.main__name {
  font-size: 14px;
  line-height: 19px;
  display: inline-block;
  text-decoration: underline;
  margin: 0;
}
.main__img-wrapper {
  margin-bottom: 10px;
}

.main__name:hover {
  text-decoration: none;
  color: #969697;
}

.main__img {
  border: 1px solid #bebebe;
}
.main__img--big {
  display: none;
}

.footer {
  font-size: 12px;
  line-height: 14px;
  margin-top: 80px;
  color: #000;
  border-top: 4px solid #242424;
  padding-top: 18px;
}
.footer__contacts {
  color: #fff;
  margin-bottom: 20px;
}

.footer__copyright {
  display: flex;
  padding-bottom: 18px;
  padding-top: 22px;
  z-index: 1;
  position: relative;
}

.footer__copyright::after {
  background-color: #2c2c2c;
  width: 100%;
  height: 100%;
  content:"";
  top:0;
  bottom:0;
  left:0;
  right:0;
  position: absolute;
  z-index:0;
  opacity:0.5;
}

.footer__logo {
  opacity: 0.3;
}

.footer__title {
  display: block;
  font-size: 16px;
  line-height: 14px;
  font-weight: 600;
  padding-top: 42px;
  padding-bottom: 20px;
  position: relative;
}

.footer__title::after {
  content: "";
  width: 215px;
  height: 1px;
  background-color: #727272;
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer__text {
  font-size: 12px;
}

.footer__img {
  width: 120px;
}

.footer__info {
  width: 290px;
  color: #646464;
  margin: 0;
  padding: 0;
}

.main__img-zoom {
  position: relative;
}

.main__img-zoom:hover::after{
  content:"";
  background-color: #000;
  width: 222px;
  height: 202px;
  top:-188px;
  bottom:0;
  left:0;
  right:0;
  position: absolute;
  z-index:1;
  opacity:0.3;
}

.main__img-zoom:hover::before{
  content: "";
  background-color: #fff;
  background-image: url("../img/glass.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 56px;
  height: 55px;
  top: -114px;
  bottom: 0;
  left: 83px;
  right: 0;
  position: absolute;
  z-index: 2;
  opacity: 0.8;
  border-radius: 27px;
}

@media (min-width: 768px) {
  .container {
    max-width: 680px;
  }
  .menu {
    margin: 0;
  }

  .menu--open {
    margin-bottom: 15px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
  }
  .menu--open::before {
    left: 30px;
  }
  .menu--closed {
    padding-bottom: 50px;
  }
  .menu--closed .menu__toggle::before {
    bottom: 0;
    right: 15px;
    width: 50px;
    height: 31px;
    background-image: url("../img/icon-open.png");
  }

  .menu--open .menu__toggle::before {
    right: 15px;
  }

  .menu__link {
    font-size: 24px;
    padding-bottom: 45px;
  }

  .menu__wrapper {
    width: 312px;
    padding-top: 47px;
    padding-bottom: 50px;
    border: none;
  }

  .menu--open .menu__wrapper {
    padding-bottom: 0;
  }
}

.main__list {
  justify-content: space-around;
}

@media (min-width: 1200px) {

.container {
  max-width: 1050px;
}

.container--header {
  display: flex;
}

.header__menu {
  display: flex;
  align-items: center;
  padding: 30px 0;
  }

  .menu {
    padding-top: 0;
    margin: 0;
    z-index: 100;
  }

.menu--closed {
  padding-bottom: 0;
  margin-left: 95px;
  margin-top: 40px;
}

  .menu--main {
    display: block;
  }
  .menu .menu__toggle {
    display: none;
  }
  .menu .menu__title {
    padding-bottom: 32px;
  }

  .menu .menu__link--main {
    color: #fff;
  }
  .menu .menu__link--opacity {
    opacity: 0.5;
  }
  .menu .menu__wrapper {
    width: 510px;
    padding-top: 0;
    padding-bottom: 0;
    border-top: none;
    border-bottom: none;
    display: block;
    margin: 0 auto;
  }
  .menu .menu__wrapper--opacity {
    opacity: 0.8;
  }
  .menu .menu__list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .menu .menu__container {
    display: block;
    margin-top: 45px;
  }
  .menu__item:hover {
    border-radius: 2px;
  }
  .menu__item {
    position: relative;
    border-bottom: 4px solid transparent;
  }
  .menu__item--active {
    border-radius: 2px;
  }
  .menu__item--active:hover {
    border-bottom: 4px solid transparent;
  }

.menu .menu__link {
  font-size: 15px;
  line-height: 24px;
  display: block;
  text-decoration: none;
  color: #e8e8e8;
  padding-left: 49px;
  padding-right: 49px;
  padding-bottom: 0;
  position: relative;
  border-left: 1px solid #474747;
}

.menu__link--contacts {
  border-right: 1px solid #474747;
}

.menu__link:hover {
  background-color: #2f2f2f;
  border-radius: 10px;
  box-shadow: inset 0 0 7px -2px #2a2a2a,
  0 3px 2px -2px #474747;
}

.menu__link:active {
  background-color: #2a2a2a;
}

.main {
  padding-bottom: 65px;
}

.main__item {
  margin-bottom: 40px;
  margin-right: 46px;
}

.main__item:nth-child(4) {
  margin-right: 0;
}


.main__item-container {
  width: 227px;
}

.main__list {
  justify-content: flex-start;
}
}
